.Progress {
  display: flex;
  flex-wrap: wrap;
}

.Progress-wrapper {
  /* background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  display: flex;
  flex-direction: row; */
border: 1px solid  #362ca9;
width: 45%;
margin: 10px 10px 10px 0;
}
