.Landing-header {
  display: inline-block;
  vertical-align: middle;
}

.Landing-intro {
  min-height: 110vh;
  background-color: #362ca9;
  padding: 100px;
  font-size: 60px;
  color: whitesmoke;
}

.Landing-special {
  color: #FA8D19; 
}
